spring:
  application:
    name: billing-service

server:
  port: ${SERVER_PORT:4001}
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: false

grpc:
  server:
    port: ${GRPC_SERVER_PORT:9001}
    negotiation-type: plaintext

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    root: ${LOG_LEVEL:INFO}
    com.pm.billingservice: ${LOG_LEVEL:DEBUG}
    org.springframework.web: INFO
    io.grpc: ${GRPC_LOG_LEVEL:INFO}
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: ${LOG_FILE_PATH:logs/billing-service.log}
    max-size: 10MB
    max-history: 30

